<div><h1>This angular table can be edited, and also compiles its cells for two-way data binding.</h1></div>

<div><h3>Inherited: {{testValue}}</h3></div>

<div>
    <table angular-table="tableThree"
           column-data="tableThreeColumns"
           table-data="tableThreeData"
           editable-table
           compile-table
           style="margin:0 auto;">

    </table>
</div>

<div>
    <p>{{tableThreeData}}</p>
</div>