<div><h1>This is table 1.</h1></div>

<div>
<table angular-table="tableOne"
       column-data="tableOneColumns"
       table-data="tableOneData"
       editable-table
        style="margin:0 auto;">

</table>
</div>

<div>
       <p>{{tableOneData}}</p>
</div>