<div><h1>This angular table can be edited.</h1></div>

<div><h3>Inherited: {{testValue}}</h3></div>

<div>
    <table angular-table="tableTwo"
           column-data="tableTwoColumns"
           table-data="tableTwoData"
           editable-table
           style="margin:0 auto;">

    </table>
</div>

<div>
    <p>{{tableTwoData}}</p>
</div>