<div><h1>This is a basic angular table directive.</h1></div>

<div><h3>Inherited: {{testValue}}</h3></div>

<div>
<table angular-table="tableOne"
       column-data="tableOneColumns"
       table-data="tableOneData"
        style="margin:0 auto;">

</table>
</div>

<div>
       <p>{{tableOneData}}</p>
</div>