<html lang="en" id="ng-app" ng-app="appRouter">
<head>
    <link rel="stylesheet" href="/bootstrap-3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <script src="/javascripts/vendor/jquery-1.11.2.js"></script>
    <script src="/javascripts/vendor/underscore.js"></script>
    <script src="/bootstrap-3.3.4/js/bootstrap.js"></script>

    <script src="/javascripts/angular/source/angular.js"></script>
    <script src="/javascripts/angular/source/angular-route.js"></script>
    <script src="/javascripts/angular/source/angular-animate.js"></script>

    <script src="/javascripts/angular/appRouter.js"></script>

    <script src="/javascripts/angular/controllers/TableController.js"></script>
    <script src="/javascripts/angular/controllers/TableOneController.js"></script>
    <script src="/javascripts/angular/controllers/TableTwoController.js"></script>
    <script src="/javascripts/angular/controllers/TableThreeController.js"></script>

    <script src="/javascripts/angular/directives/angularTable.js"></script>
    <!-- Source our javascript file with the jQUERY code -->
</head>
<body>
<!-- Use this navigation div as your menu bar div -->
<div style="text-align:center;">
    <h1>Angular Demo</h1>
</div>
<div class="navigation" style="border-radius:4px;">
    <ul class="nav">
        <li>
            <a href="#/tableone" class="first">Table 1</a>
        </li>
        <li>
            <a href="#/tabletwo">Table 2</a>
        </li>
        <li>
            <a href="#/tablethree" class="last">Table 3</a>
        </li>
    </ul>
</div>


<div ng-view ng-animate-children class="waveRight" style="padding-top:40px;"></div>

</body>
</html>