<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <!-- Load jQuery from Google's CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/javascripts/angular/source/angular.js"></script>
    <script src="/javascripts/angular/source/angular-route.js"></script>
    <script src="/javascripts/angular/source/angular-animate.js"></script>
    <!-- Source our javascript file with the jQUERY code -->
</head>
<body>
<!-- Use this navigation div as your menu bar div -->
<div class="navigation" style="border-radius:4px;">
    <ul class="nav">
        <li>
            <a href="#" class="first">Table 1</a>
        </li>
        <li>
            <a href="#">Table 2</a>
        </li>
        <li>
            <a href="#" class="last">Table 3</a>
        </li>
    </ul>
</div>


<div ng-app="appRouter" id="ng-app"></div>

</body>
</html>